facebook-sniffer-v2-1/target/classes/facebook-graph-api-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="/pages">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/pages" doc:name="/page" />
		<flow-ref name="facebook-set-access-token" doc:name="Set auth header" />
		<http:request config-ref="HTTP_Facebook_API" path="/{user_id}/accounts"
			method="GET" doc:name="Get page">
			<http:request-builder>
                <http:uri-param paramName="user_id" value="me"/>
			</http:request-builder>
		</http:request>

	</flow>

	<flow name="/page">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/page" doc:name="/page" />
		<flow-ref name="facebook-set-access-token" doc:name="Set auth header" />
		<http:request config-ref="HTTP_Facebook_API" path="/{page_id}"
			method="GET" doc:name="Get page information">
			<http:request-builder>
                <http:uri-param paramName="page_id" value="#[(message.inboundProperties['http.query.params']['id'])]"/>
			</http:request-builder>
		</http:request>
	</flow>
</mule>
